* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  }
  
  body {
      font-family: "Poppins", sans-serif;
      overflow: hidden;
      background-color: rgba(246,249,250,.95);
  
  }

  .wrapper .sidebar{
      width: 200px;
      height: 100%;
      background-image: linear-gradient(to right, #32d99f, #32be8c, #32be8e);
      padding: 30px 0px;
      position: fixed;
  }
  
  .wrapper .sidebar img{
      text-align: center;
      margin-bottom: 30px;
      margin-left: 15px;
      width: 130px;
  }
  
  .wrapper .sidebar ul li{
      padding: 20px;
      border-bottom: 1px solid #bdb8d7;
      border-bottom: 1px solid rgba(0,0,0,0.05);
      border-top: 1px solid rgba(255,255,255,0.05);
  }    
  
  .wrapper .sidebar ul li a{
      color: #fff;
      display: block;
  }
  
  .wrapper .sidebar ul li a .fas{
      width: 25px;
  }
  
  .wrapper .sidebar ul li:hover{
      background-color: #32d99f;
  }
      
  .wrapper .sidebar ul li:hover a{
      color: #fff;
  }

  .attendance_form h3 {
      margin: 15px 0;
      color: #555;
      text-transform: uppercase;
      font-size: 1.3rem;
  }

  #container {
      margin: 10px;
      width: 500px;
      height: 375px;
  }
  #videoElement {
      width: 500px;
      height: 375px;
      background-color: #ddd;
  }

  .attendance_form {
      background-color: rgba(256, 256, 256, .70);
      border-radius: 10px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      left: 55%;
      top: 50%;
      padding: 5px;
      position: absolute;
      transform: translate(-50%, -50%);
      display: flex;
      width: 40%;
      justify-content: center;
      align-items: center;
      text-align: center;
  }

  .attendance_form img {
     height: 100px;
  }

  #attendance_area{
      margin-top: 15px;
  }
    /*textarea{
      border: 2px solid #d9d9d9; 
      margin-bottom: 20px;
      resize: none;
      outline: none;
  }*/