<!DOCTYPE html>


<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>User Login Form</title>
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
  <link rel='icon' href="{% static '/images/face-attendance-icon.png' %}">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
</head>

<body>
  <img class="wave" src={% static 'images/login_form_wave.png' %}>
  <div class="container">
    <div class="img">
      <img src={% static 'images/login_side_image.png' %}>
    </div>
    <div class="login-box-content">
      <form action="" method="post">
        {% csrf_token %}
        <img src={% static 'images/login_profile_icon.svg' %}>
        <h3 class="title">LOGIN HERE</h3>

        <div class="input-div one">
          <div class="i">
            <i class="fas fa-user"></i>
          </div>
          <div class="div">
            <input type="text" placeholder="Enter Email" name="username" class="input" required>
          </div>
        </div>

        <div class="input-div pass">
          <div class="i">
            <i class="fas fa-lock"></i>
          </div>
          <div class="div">
            <input type="password" placeholder="Enter Password" name="password" class="input" required>
          </div>
        </div>

        <div style="float: right;">

          <label class="rad-label" style="float: left;">
            <input type="radio" class="rad-input" name="radTech" value="0">
            <div class="rad-design"></div>
            <div class="rad-text">Client</div>
          </label>

          <label class="rad-label" style="float: right;">
            <input type="radio" class="rad-input" name="radAdmin" value="1">
            <div class="rad-design"></div>
            <div class="rad-text">Cleaner</div>
          </label>
        </div>

        <input type="submit" class="login-btn" value="Login" name="btnLogin">

      </form>

    </div>
  </div>

</body>

</html>