<!DOCTYPE html>


<html>
<head>
    {% load static %}
<title>Welcome</title>
<link href="{% static 'css/welcome.css' %}" rel="stylesheet" type="text/css">
<link rel='icon' href="{% static '/images/face-attendance-icon.png' %}">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
</head>
<body>
    <img class="wave" src={% static 'images/login_form_wave_welcome.png' %}>
    <div id="container">
        <main>
        <div class="main-content">
        <h3 class="headline">Customer Relationship Management System</h3>
        <p class="description">
            We will connect you with best service in the Area.
        </p>
        <a href="{% url 'signup' %}"><button class="wel-button">
        <i class="fas fa-sign-in"></i>Signup Here
        </button></a>
        </div>
        <div class="main-img">
        <img class="wel-img" src={% static 'images/welcome_icon.png' %} alt="welcome">
        </div> 
        </main>
        </div>
</body>
</html>