{% extends 'base.html' %}
{% block content %}
{% load static %}


{% if form.errors %}
{% for field in form %}
{% for error in field.errors %}
<div class="alert alert-danger">
    <strong>{{field.label}}: {{ error|escape }}</strong>
</div>
{% endfor %}
{% endfor %}{% endif %}


<div class="container py-5">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div  style="text-align: center; color: green; margin-bottom: 50px;">
                <h2>Create A Cleaners Profile</h2>
            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group row">
                    <div class="col-sm-3">
                        {{form.name.label}}
                        {{form.name}}
                    </div>
                    <div class="col-sm-3">
                        {{form.landline_number.label}}
                        {{form.landline_number}}
                    </div>
                    <div class="col-sm-3">
                        {{form.mobile_number.label}}
                        {{form.mobile_number}}
                    </div>
                    <div class="col-sm-3">
                        {{form.address_line1.label}}
                        {{form.address_line1}}
                    </div>
                </div>

               

                <div class="form-group row">
                    <div class="col-sm-3">
                        {{form.address_line2.label}}
                        {{form.address_line2}}
                    </div>
                    <div class="col-sm-3">
                        {{form.address_line3.label}}
                        {{form.address_line3}}
                    </div>
                    <div class="col-sm-3">
                        {{form.zip_code.label}}
                        {{form.zip_code}}
                        
                    </div>
                    <div class="col-sm-3">
                        {{form.email.label}}
                        {{form.email}}
                    </div>
                </div>
                

                <div class="form-group row">
                    <div class="col-sm-3">
                        {{form.date_added.label}}
                        {{form.date_added}}
                    </div>
                    <div class="col-sm-3">
                        {{form.status.label}}
                        {{form.status}}
                        <a href="{% url 'cleaners:create_status' %}">Add A New Status</a>
                    </div>
                    <div class="col-sm-3">
                        {{form.number_of_hours_wanted.label}}
                        {{form.number_of_hours_wanted}}
                    </div>
                    <div class="col-sm-3">
                        {{form.nationality.label}}
                        {{form.nationality}}
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="col-sm-3">
                        {{form.permit_to_work_needed.label}}
                        {{form.permit_to_work_needed}}
                    </div>
                    <div class="col-sm-3">
                        {{form.emergency_contact_name.label}}
                        {{form.emergency_contact_name}}
                    </div>
                    <div class="col-sm-3">
                        {{form.emergency_contact_number.label}}
                        {{form.emergency_contact_number}}
                    </div>
                    <div class="col-sm-3">
                        {{form.relationship_to_emergency_contact.label}}
                        {{form.relationship_to_emergency_contact}}
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="col-sm-3">
                        {{form.Disclouser.label}}
                        {{form.Disclouser}}
                    </div>
                    <div class="col-sm-3">
                        {{form.NI_Nunber.label}}
                        {{form.NI_Nunber}}
                    </div>
                    <div class="col-sm-3">
                        {{form.consent_for_DBS.label}}
                        {{form.consent_for_DBS}}
                    </div>
                    <div class="col-sm-3">
                        {{form.smoker.label}}
                        {{form.smoker}}
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="col-sm-3">
                        {{form.can_iron.label}}
                        {{form.can_iron}}
                    </div>
                    <div class="col-sm-3">
                        {{form.driver.label}}
                        {{form.driver}}
                    </div>
                    <div class="col-sm-3">
                        {{form.has_car.label}}
                        {{form.has_car}}
                    </div>
                    <div class="col-sm-3">
                        {{form.areas_worked.label}}
                        {{form.areas_worked}}
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="col-sm-3">
                        {{form.referee_1_details.label}}
                        {{form.referee_1_details}}
                    </div>
                    <div class="col-sm-3">
                        {{form.referee_2_details.label}}
                        {{form.referee_2_details}}
                    </div>
                    <div class="col-sm-3">
                        {{form.prev_work_experience.label}}
                        {{form.prev_work_experience}}
                    </div>
                    <div class="col-sm-3">
                        {{form.prev_convicted_of_offence.label}}
                        {{form.prev_convicted_of_offence}}
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="col-sm-3">
                          
                        {{form.pet_allergies.label}}
                        {{form.pet_allergies}}
                    </div>
                    <div class="col-sm-3">
                        {{form.type_of_allergy.label}}
                        {{form.type_of_allergy}}
                    </div>
                    <div class="col-sm-3">
                        {{form.transactions_date.label}}
                        {{form.transactions_date}}
                    </div>
                    <div class="col-sm-3">
                        {{form.profile_image.label}}
                        {{form.profile_image}}
                    </div>
                </div>
                

                <button name="btnsave" type="submit" class="btn btn-success px-4 float-right">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}