{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container py-5">
  <div class="col-sm-6">
    <form action="" method="post">
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
  <div>
    
  </div>
  <strong>Email To: </strong><p>{{cleaners_data.email}} or Check <a href="{% url 'cleaners:email_record' cleaners_data.email %}">Emails</a> Sent to this Cleaner</p>
  {% csrf_token %}
  {{form.media}}
  {{form}}
  <div>
    <button name="send_email" type="submit"
        class="btn btn-success px-4 float-left form-control">Send Email</button></div> 
</form>
  </div>
</div>
{% endblock content %}

