{% extends 'base.html' %}

{% block content %}
{% load static %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-success">
        <strong {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }}</strong>

    </div>
    {% endfor %}
</ul>
{% endif %}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Inquiry From</th>
            <th scope="col">Email</th>
            <th scope="col">Number</th>
            <th scope="col">Role</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>
        {% for data in inquiry %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{data.name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.contact_number}}</td>
            <td>{{data.role}}</td>
            <td>{{data.status}}</td>
            <td><a href="{% url 'StaffDashboard:update_inquiry' data.id %}">Change</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}