<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<p> Hi,</p>

<p> Thank you for your enquiry with Maid2Clean. Our fee is split into two elements, cleaner fee and agency fee. The Cleaner is paid £10.50 per hour each week on the day of the clean (same lady each week) and the agency fee from £3.00. Your agency fee covers the following services.</p>

<p>a) Advertising for the right cleaner for you</p>
<p>b) Interviewing that person in their own home</p>
<p>c) Taking ID and reference checks</p>
<p>d) Closest geographical matching of cleaner to you to ensure maximum continuity of service</p>
<p>e) Insurance against damage caused, please see attached BTA</p>
<p>f) Replacement cover if the cleaner becomes poorly or goes on holiday, or is even unsatisfactory </p>

<p>Our full pricing options are shown below for your kind attention.

<p style="text-decoration: underline;"><strong>What Happens Next?</strong></p>

<p>We will now arrange a cleaner to come and meet you and discuss the cleaning requirements. Your cleaner will now call you and make an appointment to come out to you at a mutually convenient time. We have attached our Client Handbook which has a number of useful pointers to help you to get the most from your cleaner, in particular, we draw your attention to the recommended products list that the cleaner will need whilst on your premises. For your first couple of cleans, we recommend that you leave a list as each Client has different requirements. Prior to your cleaner commencing, your agency fee must be in place by direct debit, in advance for insurance purposes as soon as you have agreed a start date.</p>

<p>I have detailed a few of our price options below for you...</p>

<p><strong>ONE OFF BLITZ</strong></p>
<p>£12.00/hour for your cleaner – paid directly to the cleaner after the clean</p>
<p>£45 = One off agency insurance fee </p>

<p><strong>2 hours/week</strong></p>
<p>£10.50/hour for your cleaner – paid directly to the cleaner after each clean</p>
<p>£3.35/hour agency fee - taken as a Direct Debit at £29.03/month</p>

<p><strong>3 hours/week</strong></p>
<p>£10.50/hour for your cleaner – paid directly to the cleaner after each clean</p>
<p>£3.20/hour agency fee - taken as a Direct Debit at £41.60/month</p>

<p><strong>4 hours/week</strong></p>
<p>£10.50/hour for your cleaner – paid directly to the cleaner after each clean</p>
<p>£2.90/hour agency fee - taken as a Direct Debit at £50.27/month</p>

<p><strong>2 hours/Fortnight</strong></p>
<p>£10.50/hour for your cleaner – paid directly to the cleaner after each clean</p>
<p>£4.35/hour agency fee - taken as a Direct Debit at £18.85/month</p>

<p><strong>3 hours/Fortnight</strong></p>
<p>£10.50/hour for your cleaner – paid directly to the cleaner after each clean</p>
<p>£4.20/hour agency fee - taken as a Direct Debit at £27.30/month</p>

<p>The monthly DD is just for the agency fee and is calculated as follows:</p>
<p>Hours per week x hourly rate x 52 weeks per year / 12 months = standard monthly rate</p>
 
<p>All our cleaners use the clients own products.  Our cleaners are able to undertake all domestic cleaning and ironing tasks.</p>

<p>If you have any questions or would like a quote for more hours, please do not hesitate to contact me.</p>

<p>Warm regards</p>


<p><strong>Melissa Jewell</strong><br>
Agency Manager - <a href="https://www.maid2clean.co.uk/">Maid2Clean</a><br>
01270 82160<br>
Mob 07887566446 (out of hours 5-8pm and weekends<br>
Wilmslow Mobile 0730515035<br>
melissa@maid2clean.co.uk<br>

Maid2Clean Terms of Business https://www.maid2clean.co.uk/docs/terms.pdf<br>
Maid2Clean Client Handbook https://www.maid2clean.co.uk/docs/ClientHandbook.pdf</p>


</body>
</html>
